/* width */
.custom-scrollbar::-webkit-scrollbar {
 display: block;
 width: 12px;
 border-radius: 0;
}


/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
 background: #afaeae;
 border-radius: none;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
 background: #777777;
}